<div class="app">
  <header>
    <h1 class="app_title">
      <a routerLink="/">Verizon Assignments</a>
    </h1>
  </header>

  <div *ngIf="isLoading">
    <div class="app_loader">
      <div class="app_loader_wrap">
        <p class="app_loader_wrap_text">Loading</p>
        <div class="app_loader_wrap_line"></div>
        <div class="app_loader_wrap_line"></div>
        <div class="app_loader_wrap_line"></div>
      </div>
    </div>
  </div>
  <router-outlet *ngIf="!isLoading"></router-outlet>
</div>
